
body {
    font-family: Arial;
    padding: 10px;
}

.mainArea {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.mainArea h1{
    font-size: 28px;
}

.tab {
    overflow: hidden;
    border: 1px dashed #ccc;
    background-color: f1f1f1;
}

.tab button{
    background-color: #0cf;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover{
    background-color: #0af;
}

.tab button.active{
    background-color: #0af;
}

.tabcontent {
    display: none;
    padding: 6px 12 px;
    border: none;
}

.tabcontent p{
    display: none;
}

.tabcontent img{
    width: 100%;
}

.myWeather {
    text-align: center;
    padding: 20px 50px;
}

.myWeather input[type=text] {
    width: 30%;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

.myWeather input[type=button] {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #0cf;
    border: none;
    padding: 10px 15px;

}

#myWeatherResults {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .mainArea {
        width: 100%;
    }
}